@media (max-width: 1230px){

}

@media (max-width: 990px){
	.tvor__text{
		display: flex;
	}
}

@media (max-width: 770px){
	.tvor__text{
		display: block;
	}
	.tvor__element{
		width: 100%;
	}
	.img__zbirka{
		width: 351px;
	}
}

@media (max-width: 575px){
	.img__zbirka{
		width: 280px;
	}
}
